<div class="container">
    <br><br>
    <div class="card-columns">
    <ul *ngFor="let entrada of Peliculas; let i = index">       
       
      <div class="card">
          <div class="exit"><button class="btn-exit" (click)="delete(i)" onclick="location.reload()"></button> </div>
          <div class="card-header">            
            <h3 class="nota">{{entrada.calificacion}}</h3>
            <h1> {{ entrada.titulo }}               
            </h1>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p> {{ entrada.comentario }} <p>
              <footer class="blockquote-footer"><small class="text-muted">Estreno:
                {{ entrada.fecha_estreno | date:'hh:mm dd/MM/yyyy'}} 
              </small></footer>
            </blockquote>
          </div>
        </div>

    </ul>

    </div>
</div>