<app-navbar></app-navbar>
<br><br>
<div class="row align-items-center">
  <div class="col-md-4"></div>
  <div class="col md-6 ">
    <form>
        <div class="form-row ">
            <div class="form-group col-md-6 disenno">          
                <h4>Titulo</h4>
                <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="Titulo" name="titulo">
                <br>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 disenno">
              <h4>Comentario</h4>
              <input type="text" class="form-control" placeholder="Comentario" [(ngModel)]="Comentario" name="comentario">
              <br>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 disenno">
                <h4>Fecha de Estreno</h4>
                <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="Fecha" name="Fecha">
                <br>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="insert()" >Send</button>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>